.mindbox-product-bonus {
    font-size: 13px;
    text-align: center;
}

.mindbox-product-bonus__value {
    font-weight: bold;
    color: #62be1f;
}

.mindbox-product-bonus__label {
    color: #000;
    font-size: 13px;
    text-align: center;
    font-weight: normal;
}